:root {
  color-scheme: light;
  --bg: #fff;
  --menu-bg: #fff;
}

.dark {
  color-scheme: dark;
  --bg: #121212;
  --menu-bg: #121212;
}

body {
  @apply bg-[--bg];
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.col-hand {
  --w: 4px;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  // flex: 0 0 auto;
  width: var(--gap);
  cursor: w-resize;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 100ms linear;

  &:hover, &:active {
    opacity: 1;
  }

  &::after {
    content: '';
    display: block;
    width: 4px;
    height: 100%;
    background: rgba(0, 0, 0, .1);
  }

  > .dot {
    --w: 20px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: calc(var(--w) * 1);
    height: calc(var(--w) * 1);
    
    &:hover {
      &::after {
        content: '+';
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(var(--w) * 1);
        height: calc(var(--w) * 1);
        background-color: rgba(blue, .75);
        box-shadow: 0 4px 6px rgba(#000, .2);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      color: #fff;
      background-color: rgba(blue, .5);
      border-radius: 50%;
      transition: all 100ms;
      cursor: pointer;
    }
  }
}

[tiptap-is=columns] {
  &:hover, &:active, &.active, &.has-focus {
    & > [tiptap-is=column] {
      background: rgba(#000, .05);  
    }
  }
}

[tiptap-is=column] {
  position: relative;
  transition: background 100ms linear;
  &:hover {
    // background: rgba(#000, .05);
  }
}

img.has-focus {
  @apply max-w-full outline-(2 solid blue);
}

.is-empty:not(table)::before {
  content: attr(data-placeholder);
  position: absolute;
  // float: left;
  // color: #adb5bd;
  pointer-events: none;
  opacity: .30;
}

.li {
  @apply cursor-pointer;
  &:hover {
    @apply bg-gray/15;
  }
  &.selected, &.active {
    @apply bg-gray/10;
  }
}

.menu {
  @apply py-1 shadow-lg rd-2 space-y-.5 text-sm b-(1 solid gray/30) bg-[--menu-bg]
}

.menu-x {
  @apply px-1 shadow-lg rd-2 space-x-.5 text-sm b-(1 solid gray/30) bg-[--menu-bg]
}