:root {
  --white: #fff;
  --black: #2e2b29;
  --black-contrast: #110f0e;
  --gray-1: rgba(61, 37, 20, 0.05);
  --gray-2: rgba(61, 37, 20, 0.08);
  --gray-3: rgba(61, 37, 20, 0.12);
  --gray-4: rgba(53, 38, 28, 0.3);
  --gray-5: rgba(28, 25, 23, 0.6);
  --green: #22c55e;
  --purple: #6a00f5;
  --purple-contrast: #5800cc;
  --purple-light: rgba(88, 5, 255, 0.05);
  --yellow-contrast: #facc15;
  --yellow: rgba(250, 204, 21, 0.4);
  --yellow-light: #fffae5;
  --red: #ff5c33;
  --red-light: #ffebe5;
}

.tiptap {
  height: 100%;
  min-height: 100%;
}

.tiptap :first-child {
//   margin-top: 0;
}

.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden !important;
  table-layout: fixed;
  width: 100%;
}

.tiptap table td,
.tiptap table th {
  border: 1px solid var(--gray-3);
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.tiptap table td > *,
.tiptap table th > * {
  margin-bottom: 0;
}

.tiptap table th {
  background-color: var(--gray-1);
  font-weight: 700;
  text-align: left;
}

.tiptap table .selectedCell:after {
  background: var(--gray-2);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap table .column-resize-handle {
  background-color: var(--purple);
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  margin: 1rem 0;
  overflow-x: auto;

  & > table {
    margin-bottom: 0;
  }
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

pre  > code {
  display: block !important;
  &::before {
    content: ' ';
    display: inline-block;
    width: 0;
  }
}

code > br {
  display: initial !important;
}

p.is-empty::before {
  content: attr(data-placeholder);
  position: absolute;
  display: inline-block;
  width: 0px;
  white-space: nowrap;
  pointer-events: none;
  opacity: .30;
}

.tiptap.ProseMirror:not(.readonly):not(.ProseMirror-hideselection) ::selection {
  background-color: rgba(157,138,255,0.2);
}

.cell-handle {
  @apply bg-gray/08;

  &:hover {
    @apply bg-gray/20;
  }
}

[data-type="comment"] {
  @apply b-b-(2px dashed yellow-500);
}

[data-type="file"] {
  @apply mx-1 px-1 py-.5 rd-1 outline-(1px solid blue);
  
  &.has-focus {
    @apply outline-2
  }
}